.support-box {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.faq-question {
    font-weight: bold;
    color: #0d6efd;

}
 .custom-footer-bottom {
    background: linear-gradient(135deg, #006cbf, #007ac1);
    color: white;
    font-size: 14px;
}

.custom-footer-bottom a.footer-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.custom-footer-bottom a.footer-link:hover {
    text-decoration: underline;     
}